[submodule "lib/chai"]
	path = lib/chai
	url = https://github.com/chaijs/chai.git
[submodule "lib/sinon-chai"]
	path = lib/sinon-chai
	url = https://github.com/domenic/sinon-chai.git
[submodule "lib/basil"]
	path = lib/basil
	url = https://github.com/xwipeoutx/basil.git
	branch = master
